/* Styles for the quiz page */

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.4em;
    background: #afddf7;
    margin: 0;
}

header {
    text-align: center;
    margin: 0;
    padding: 1.5em 1em;
}

body section {
    padding: 2em 1em;
    background: #E1FFE6;
}

body footer {
    text-align: center;
    padding: 2em 1em;
}
